data_to_import/
upload_data/
temp_kaggle_process/
ml_training/
ml_assets/
custom_addons/ChurnPredictor/models/shap_plot_0.html
custom_addons/ChurnPredictor/models/shap_plot_1.html
custom_addons/ChurnPredictor/models/shap_plot_2.html
custom_addons/ChurnPredictor/models/__pycache__/
custom_addons/ChurnPredictor/config/kaggle.json
custom_addons/ChurnPredictor/data/dataset_history/
custom_addons/ChurnPredictor/data/sample/
custom_addons/ChurnPredictor/data/

.env

__pycache__/
*.pyc
**/__pycache__/
**/*.pyc
