version: '3.8' # Sử dụng phiên bản docker-compose mới nhất

services:
  # Service cho cơ sở dữ liệu PostgreSQL (Được quản lý bởi Docker Compose)
  postgres:
    image: postgres:13 # Sử dụng image postgres:13
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: postgres123 # Mật khẩu bạn đã đặt
      PGDATABASE: ChurnPredictor_v2 # Database mặc định
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - odoo-network

  # Service cho ứng dụng Odoo
  odoo:
    build: . # Xây dựng image từ Dockerfile trong thư mục hiện tại
    # cap_add:
    #   - SYS_TIME
    image: churn-predictor
    depends_on:
      - postgres
    ports:
      - "8069:8069"
      - "8071:8071"
    environment:
      HOST: postgres
      PORT: 5432
      USER: odoo
      PASSWORD: postgres123
      PGDATABASE: ChurnPredictor_v2
      ADMIN_PASSWORD: admin123
      TZ: Asia/Ho_Chi_Minh
      SMTP_SERVER: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: 22520622@gm.uit.edu.vn
      SMTP_PASSWORD: fnkt csqd theb aazj
      SMTP_ENCRYPTION: tls
      
      # Tham số nhận báo cáo (Cấp 2) - Bạn cần đảm bảo nó tồn tại
      CHURN_PREDICTOR_RECIPIENT_EMAIL: subinkhang102@gmail.com
      KAGGLE_DISABLE_SSL_VERIFY: 1
    volumes:
      - odoo_web_data:/var/lib/odoo
      # Mount thư mục addon tùy chỉnh
      - ./custom_addons:/mnt/extra-addons
      # --> THÊM DÒNG NÀY ĐỂ MOUNT THƯ MỤC CHỨA DUMP VÀO CONTAINER ODOO
      # ./db_backups là thư mục trên máy local, /mnt/odoo_backups_for_restore là đường dẫn bên trong container Odoo
      - ./db_backups:/mnt/odoo_backups_for_restore
      # Tùy chọn: mount file cấu hình odoo.conf
      - ./odoo.conf:/etc/odoo/odoo.conf
    # command: --config /etc/odoo/odoo.conf --addons-path=/usr/lib/python3/dist-packages/odoo/addons -i base -d ChurnPredictor_v2
    command: --config /etc/odoo/odoo.conf --addons-path=/usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons -i base -d ChurnPredictor_v2
    networks:
      - odoo-network

# Định nghĩa các named volumes
volumes:
  postgres_data:
  odoo_web_data:

# Định nghĩa network
networks:
  odoo-network:
    driver: bridge